{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	<div class="form_wrapper">
		<div class="form_container">
			<div class="title_container">
				<h2>
					Formulaire d'inscription
				</h2>
			</div>
			<div class="row clearfix">
				<div class="">

					{{ form_start(registrationForm) }}
					<div class="input_field">
						{{ form_row(registrationForm.firstname) }}
					</div>
					<div class="input_field">  
						{{ form_row(registrationForm.lastname) }}
					</div>
					<div class="row clearfix">
						<div class="col_half">
							<div class="input_field">
								{{ form_row(registrationForm.email) }}
							</div>
						</div>
						<div class="col_half">
							<div class="input_field">
								{{ form_row(registrationForm.password) }}
							</div>
						</div>
					</div>
					<button type="submit" class="btn btn-success w-100">Register</button>
                   
					{{ form_end(registrationForm) }}

				</div>
			</div>
		</div>
	</div>
	<p class="credit">Developed Atlas services
		<a href="http://www.designtheway.com" target="_blank">
			CAMARA Daouda
		</a>
	</p>

{% endblock %}
